// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------


.visible {
  font-family: $jeanluc;
  color: $klein-blue;
  font-size: 3em;
  text-align: center;
  letter-spacing: .5em;
  margin: 0 0 -0.5em -10em;
  &:hover {
    color: $link-green;
    -ms-transform: skewX(45deg);
    -webkit-transform: skewX(45deg);
    transform: skewX(45deg);
    transition: all 1.5s linear;
  }
  @media #{$tablet} {
    margin-left: -3em;
  }
  @media #{$mobile} {
    margin-left: -2em; 
    font-size: 1.75em;
    margin-top: -0.5em;
  }
}


.cloaks {
  font-family: $jeanluc;
  color: $klein-blue;
  font-size: 8em;
  text-align: center;
  letter-spacing: 0.5em;
  margin-left: 2em;
  &:hover {
    color: $link-green;
    -ms-transform: skewX(-45deg);
    -webkit-transform: skewX(-45deg);
    transform: skewX(-45deg);
    transition: all 1.5s linear;
  }
  @media #{$laptop} {
    margin-left: 1em;
  }
  @media #{$tablet} {
    font-size: 6em;
  }
  @media #{$mobile} {
    font-size: 2.75em;
    margin-left: 1.5em;
    margin-top: 1em;
  }
}

.video-wrapper {
  margin-top: 8em;
  padding: 0 0 56.25% 0;
  position: relative;
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  @media #{$tablet} {
    margin:0 auto;
  }
}