// -----------------------------------------------------------------------------
// This file contains the site's icons
// -----------------------------------------------------------------------------

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  80% {
    -webkit-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@-webkit-keyframes wiggle {
  0% {
  -webkit-transform:rotate(6deg);
  -o-transform:rotate(6deg);
  }
  50% {
  -webkit-transform:rotate(-6deg);
  -o-transform:rotate(-6deg);
  }
  100% {
  -webkit-transform:rotate(6deg);
  -o-transform:rotate(6deg);
  }
}

.social-links {
  .fa-soundcloud {
    position: absolute;
    font-size: 5em;
    color: peru;
    left: 10.5em;
    &:hover {
      color: orange;
      -ms-transform: translate(100px, 0); /* IE 9 */
      -webkit-transform: translate(100px, 0); /* Safari */
      transform: translate(100px, 0);
      transition: all 1.5s linear;
      -webkit-transition: all 1.5s linear;
    }
    @media #{$laptop} {
      left: 7em;
    }
    @media #{$tablet} {
      left: 6em;
      top: 0.25em;
    }
    @media #{$mobile} {
      font-size: 3em;
      left: 5.5em;
    }
  }
  .fa-twitter {
    position: absolute;
    top: 3em;
    left: 5em;
    font-size: 3em;
    color: #00e699;
    &:hover {
      color: $link-green;
      -webkit-animation: wiggle 0.5s infinite;
      -o-animation: wiggle 0.5s infinite;
    } 
    @media #{$laptop} {
      left: 2em;
    }
    @media #{$tablet} {
      left: 1em;
    }
    @media #{$mobile} {
      font-size: 2em;
      top: 2.5em;
      left: 0.75em;
    }
  }
  .fa-envelope {
    position: absolute;
    font-size: 2em;
    color: white;
    left: 34em;
    top: 4em;
    &:hover {
      animation: bounce 1s;
      -o-animation: bounce 1s;
      -webkit-animation: bounce 1s;
    }
    @media #{$laptop} {
      left: 25em;
    }
    @media #{$tablet} {
      left: 21em;
      top: 4em;
    }
    @media #{$mobile} {
      font-size: 1.5em;
      left: 13.5em;
      top: 3em;
    }
  }
  .bandcamp {
    position: absolute;
    height: 50px;
    top: 14em;
    left: 10em;
    transition-duration: 7s;
    &:hover {
      transform: rotate(720deg);
      -webkit-transform: rotate(720deg);
      -o-transform: rotate(720deg);
    }
    @media #{$laptop} {
      left: 0;
      top: 16em;
    }
    @media #{$tablet} {
      left: -2em;
      top: 17em;
    }
    @media #{$mobile} {
      height: 25px;
      left: -3.5em;
      top: 11em;
    }
  }
}
