// -----------------------------------------------------------------------------
// This file contains the site's icons
// -----------------------------------------------------------------------------

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@-webkit-keyframes wiggle {
  0% {
  -webkit-transform:rotate(6deg);
  }
  50% {
  -webkit-transform:rotate(-6deg);
  }
  100% {
  -webkit-transform:rotate(6deg);
  }
}

.social-links {
  .fa-soundcloud {
    position: absolute;
    font-size: 5em;
    color: peru;
    left: 10.5em;
    &:hover {
      color: orange;
      -ms-transform: translate(100px, 0); /* IE 9 */
      -webkit-transform: translate(100px, 0); /* Safari */
      transform: translate(100px, 0);
      transition: all 1.5s linear;
    }
  }
  .fa-twitter {
    position: absolute;
    top: 3em;
    left: 5em;
    font-size: 3em;
    color: #00e699;
    &:hover {
      color: $link-green;
      -webkit-animation: wiggle 0.5s infinite;
    } 
  }
  .fa-envelope {
    position: absolute;
    font-size: 2em;
    color: white;
    left: 37em;
    top: 4em;
    &:hover {
      animation: bounce 1s;
    }
  }
  .bandcamp {
    position: absolute;
    height: 50px;
    top: 12em;
    left: 14em;
    transition-duration: 7s;
    &:hover {
      transform: rotate(720deg);
    }
  }
}