// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@font-face {
    font-family: 'Jean Luc';
    src: url('../fonts/jeanlucweb-bold.otf');
    font-weight: normal;
}