///Colors

$electric-cornflower: #325bff;
$klein-blue: #0000cc;
$neon-grass: #00F000;

///Color variables

$link-green: $neon-grass;



/// Fonts

$jeanluc: 'Jean Luc', sans-serif;
$helv: 'Helvetica', sans-serif;


/// Breakpoints

$mobile: '(min-width: 320px) and (max-width: 426px)';
$tablet: '(max-width: 850px)';
$laptop: '(max-width: 1100px)';

